@*
    // Dataset header values
    // "ID","DATETIME","CLIENTNUMBER","ENTITYNUMBER","DOCUMENTTYPEID","DOCUMENTYEAR","DOCUMENTNUMBER","PURCHASEVALUE","PROVISIONNUMBER","TIMEOUT"
*@
<div>
    <div id="tabele-filters">
    </div>

    <div id="table-view">
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>DATETIME</td>
                    <td>CLIENTNUMBER</td>
                    <td>ENTITYNUMBER</td>
                    <td>DOCUMENTTYPEID</td>
                    <td>DOCUMENTYEAR</td>
                    <td>DOCUMENTNUMBER</td>
                    <td>PROVISIONNUMBER</td>
                    <td>TIMEOUT</td>
                </tr>
            <thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>DATETIME</td>
                    <td>CLIENTNUMBER</td>
                    <td>ENTITYNUMBER</td>
                    <td>DOCUMENTTYPEID</td>
                    <td>DOCUMENTYEAR</td>
                    <td>DOCUMENTNUMBER</td>
                    <td>PROVISIONNUMBER</td>
                    <td>TIMEOUT</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
